<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We are using your location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Can we use your location</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>NSContactsUsageDescription</key>
	<string>We are using your contacts</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
	</array>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImage.launchimage</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>To find other businesses in your area, this app needs access to location services.</string>
	<key>NSLocationUsageDescription</key>
	<string>To find other businesses in your area, this app needs access to location services.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To add a profile picture and to post to the community feed this app needs access to the photo library.</string>
	<key>NSCameraUsageDescription</key>
	<string>To add a profile picture and to post to the community feed this app needs access to the camera.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app need to access your calendar events</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CFBundleIdentifier</key>
	<string>com.memberzonestaff.beta</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleName</key>
	<string>SeedApp</string>
</dict>
</plist>
